@page "/sites"
@using CodeMonkeys.CMS.Public.Components.Shared.UI
@using CodeMonkeys.CMS.Public.Shared.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inherits AuthenticationBaseComponent<SitesIndex>
@rendermode InteractiveServer
@attribute [Authorize(Roles = "User, Admin")]

<PageTitle>Sites Overview</PageTitle>

<UserViewer ShowReturnButton="false">
    <div class="Content_Layout">
        <div class="admin-action-buttons">
            <button type="button" class="btn btn btn-primary" @onclick="async () => await AddOrUpdateSite()">Add Site!</button>
        </div>
        <div class="sites-row">
            @foreach (Site site in Sites ?? [])
            {
                <div class="sites-col-md-4 sites-mb-4">
                    <div class="sites-card h-100">
                        <div class="sites-card-header text-center font-weight-bold">
                            @site.Name
                        </div>
                        <div class="sites-card-body">
                            <div class="sites-empty-box bg-light" style="height: 150px;">
                                <!-- Bild kommer här senare -->
                            </div>
                        </div>
                        <div class="sites-card-actions">
                            <button type="button" class="btn btn-primary sites-btn sites-btn-edit" @onclick="async () => await  AddOrUpdateSite(site.SiteId)">Edit</button>
                            <a class="btn btn-secondary sites-btn sites-btn-overview" href="/sites/@site.SiteId/webpages">Preview</a>
                            <button type="button" class="btn btn-danger sites-btn sites-btn-delete" @onclick="async () => await DeleteSite(site.SiteId)">Delete</button>
                        </div>
                        <div class="sites-card-footer text-muted">
                            Last Modified: @site.LastModifiedDate.ToString("yyyy-MM-dd")
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <ConfirmationDialog @ref="Confirmation" Title="@ConfirmationTitle"
                        ConfirmationButtonText="@ConfirmationButtonText"
                        CancelButtonText="@CancelButtonText"
                        ConfirmationMessage="@ConfirmationMessage"
                        OnConfirm="OnConfirm"
                        OnCancel="OnCancel">
        <div class="Content_Layout">
            <h3>Edit Site</h3>

            <EditForm Model="Site" method="post" OnValidSubmit="HandleValidSubmit" FormName="createsite">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <StatusMessage Message="@ErrorMessage" />

                <div class="form-floating mb-3">
                    <InputText @bind-Value="Site.Name" class="form-control" autocomplete="name" aria-required="true" placeholder="Unique site name" />
                    <label for="name" class="form-label">Site Name</label>
                    <ValidationMessage For="() => Site.Name" class="text-danger" />
                </div>

            </EditForm>
        </div>
    </ConfirmationDialog>
</UserViewer>