@page "/sites"
@using CodeMonkeys.CMS.Public.Components.Shared.UI
@using CodeMonkeys.CMS.Public.Shared.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inherits AuthenticationBaseComponent<SitesIndex>

@rendermode InteractiveServer
@attribute [Authorize(Roles = "User, Admin")]

<PageTitle>Sites Overview</PageTitle>

<UserViewer ShowReturnButton=false>
    <div class="admin-container">
        <div class="admin-profile-section">
            <img src="Image/Photo by Amy Santos.png" alt="Profile Picture" class="admin-profile-picture" />
            <p class="admin-profile-description">
                Lorem ipsum dolor sit amet consectetur. Sed ullamcorper elementum eu diam orci.
                Adipiscing et pretium pretium proin adipiscing diam. Tristique in facilisi ac id in
                amet ante amet. Etiam aliquam tortor laoreet eget lobortis suspendisse.
            </p>
            <ul class="admin-profile-details">
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
            </ul>
            <button class="admin-edit-profile-button">Edit profile</button>
        </div>
        <div class="admin-templates-section">
            <h2 class="admin-templates-title">Available Templates</h2>
            <p class="admin-templates-description">
                Lorem ipsum dolor sit amet consectetur. Varius amet velit suspendisse
                pretium sagittis congue vel.
            </p>
            <div class="admin-template-carousel">
                <button class="admin-carousel-control prev">&lt;</button>
                <div class="admin-template-cards">
                    <div class="admin-template-card"></div>
                    <div class="admin-template-card"></div>
                    <div class="admin-template-card"></div>
                    <div class="admin-template-card"></div>
                </div>
                <button class="admin-carousel-control next">&gt;</button>
            </div>

            <h2 class="admin-templates-title" style=" text-align: center; margin-bottom:-59px;">
                My Sites
            </h2>

            <div class="admin-action-buttons">
                <button type="button" class="btn btn btn-primary" @onclick="async () => await AddOrUpdateSite()">Create Site!</button>
            </div>

            <div>
                @if (Sites != null && Sites.Any())
                {
                    <div class="sites-row">
                        @foreach (Site site in Sites ?? [])
                        {
                            <div class="sites-col-md-4 sites-mb-4">
                                <div class="sites-card h-100">
                                    <div class="sites-card-header text-center font-weight-bold">
                                        @site.Name
                                    </div>


                                    <div class="sites-card-body">
                                        <div class="sites-empty-box bg-light">
                                            @if (site.LandingPage?.WebPageId != null)
                                            {
                                                <div class="content">
                                                    <SiteContentViewer WebPageId="site.LandingPage.WebPageId" TakeResponsibilityForNavBar = "false"/>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="empty-content-message">
                                                    <p>No content available for this site.</p>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                    <div class="sites-card-actions">
                                        <button type="button" class="btn btn-primary sites-btn sites-btn-edit" @onclick="async () => await  AddOrUpdateSite(site.SiteId)">Edit Site Properties</button>
                                        <a class="btn btn-secondary sites-btn sites-btn-overview" href="/sites/@site.SiteId/webpages">Manage Pages</a>
                                        @if (site.LandingPage != null)
                                        {
                                            @* <a class="btn btn-secondary sites-btn" href="/userPages/@site.SiteId">Go To Landing Page</a> *@
                                            <a class="btn btn-secondary sites-btn" href="/content/@site.LandingPage.WebPageId">Go To Landing Page</a>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-secondary sites-btn" disabled>No Landing Page</button>
                                        }
                                        <button type="button" class="btn btn-danger sites-btn sites-btn-delete" @onclick="async () => await DeleteSite(site.SiteId)">Delete</button>
                                    </div>
                                    <div class="sites-card-footer text-muted">
                                        <div class="container">
                                            <div>
                                                Visits: @GetSiteVisits(site.SiteId)
                                            </div>
                                            <div>
                                                Last Modified: @site.LastModifiedDate.ToString("yyyy-MM-dd")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="alert-info">
                        <p>There are no sites yet. Click the button above to create a new site.</p>
                    </div>
                }
            </div>
        </div>
    </div>
</UserViewer>
<ConfirmationDialog @ref="Confirmation" Title="@ConfirmationTitle"
                    ConfirmationButtonText="@ConfirmationButtonText"
                    CancelButtonText="@CancelButtonText"
                    ConfirmationMessage="@ConfirmationMessage"
                    OnConfirm="OnConfirm"
                    OnCancel="OnCancel">
    <div class="Content_Layout">
        <EditForm Model="Site" method="post" OnValidSubmit="HandleValidSubmit" FormName="createsite">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <StatusMessage Message="@ErrorMessage" />

            <div class="form-floating mb-3">
                <InputText @bind-Value="Site.Name" class="form-control" autocomplete="name" aria-required="true" placeholder="Unique site name" />
                <label for="name" class="form-label">Site Name</label>
                <ValidationMessage For="() => Site.Name" class="text-danger" />
            </div>

            <div class="form-floating mb-3">
                <InputSelect id="landing_page" @bind-Value="Site.LandingPageId" class="form-control">
                    @foreach ((int key, string pageName) in PageOptions)
                    {
                        <option value="@key">@pageName</option>
                    }
                </InputSelect>
                <label for="landing_page" class="form-label">Landing Page</label>

            </div>
        </EditForm>
    </div>
</ConfirmationDialog>